<section class="container">
    <h1 class="heading">register user</h1>
   
    <!-- first name block -->
    <div class="label-input">
        <div class="label">
            <label for="fname">first name:</label>
        </div>
        <div class="input">
            <input type="text" name="name" placeholder="enter your first name">
        </div>
    </div>

    <!-- last name block  -->
    <div class="label-input">
        <div class="label">
            <label for="lname">last name:</label>
        </div>
        <div class="input">
            <input type="text" name="lname" placeholder="enter your last name">
        </div>
    </div>

    <!-- email block  -->
    <div class="label-input">
        <div class="label">
            <label for="email">name:</label>
        </div>
        <div class="input">
            <input type="email" name="name" placeholder="enter your email">
        </div>
    </div>

    <!-- password block  -->
    <div class="label-input">
        <div class="label">
            <label for="password">password:</label>
        </div>
        <div class="input">
            <input type="password" name="password" placeholder="enter your password">
        </div>
    </div>

    <!-- phone number -->
    <div class="label-input">
        <div class="label">
            <label for="phone">phone number:</label>
        </div>
        <div class="input">
            <input type="tel" name="phone" placeholder="enter your phone number">
        </div>
    </div>

    
    <div class="label-input">
        <div class="label">
            <label for="name">name:</label>
        </div>
        <div class="input">
            <input type="text" name="name" placeholder="enter your name">
        </div>
    </div>
</section>